<!doctype html>
<!--[if IE 7 ]>    <html lang="cs-cz" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="cs-cz" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="cs-cz" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="cs-cz" class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--[if lt IE 9]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<![endif]-->

	<title>{ifset title}{include title|stripHtml} | {/ifset}Multi English Camp Tábor - Letní anglický a airsoftový kemp</title>
	<meta name="description" content="Celotýdenní letní kemp s američany, kde si procvičíš angličtinu nebo zahraješ airsoft">

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if lte IE 8]>
	<script type="text/javascript" src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-datetimepicker.min.css" type="text/css">

	<link href="/css/animate.css" rel="stylesheet" media="screen">
	<link href="/css/colorbox.css" rel="stylesheet">
	<link href="/font/css/font-awesome.min.css" rel="stylesheet">

	<!--<link rel="stylesheet" href="{$basePath}/css/bootstrap-theme.min.css" type="text/css">-->
	<link rel="stylesheet" href="/css/styles.css?v=20180401">

</head>

<body class="{block bodyClass}{/block}">

	<script>
		(function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-26488186-9', 'auto');
		ga('send', 'pageview');

	</script>

	{*<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}

	{include content}

	{block scripts}
		<script src="{$basePath}/js/modernizr-latest.js"></script>
		{if $presenter->getName() != 'Registrace'}
			<script src="{$basePath}/js/jquery-1.8.2.min.js"></script>
		{else}
			<script src="{$basePath}/js/jquery.min.js"></script>
		{/if}
		<script src="{$basePath}/js/jquery.nav.js" type="text/javascript"></script>
		<script src="{$basePath}/js/waypoints.js"></script>
		<script src="{$basePath}/js/Backstretch.js" type="text/javascript"></script>
		<script src="{$basePath}/js/jquery.colorbox-min.js" type="text/javascript"></script>
		<script src="{$basePath}/js/jquery.countdown.js"></script>
		<script src="{$basePath}/js/bootstrap-datetimepicker.min.js"></script>
		<script src="{$basePath}/js/locales/bootstrap-datetimepicker.cs.js"></script>
		<script src="{$basePath}/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/live-form-validation.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
		<script src="{$basePath}/js/nextras.netteForms.js"></script>
		<script src="{$basePath}/js/nextras.datetimepicker.init.js"></script>
		<script src="{$basePath}/js/nextras.typeahead.init.js"></script>
		<script src="{$basePath}/js/custom.js?v=20180401" type="text/javascript"></script>
	{/block}
</body>
</html>
