{block bodyClass}homepage{/block}
{block content}

<nav id="mainNav">
	<div id="menuToggle"><i class="fa fa-bars"></i></div>
	<ul class="menuLinks">
		<li class="active" id="firstLink">
			<a href="#home" class="scroll-link">Úvod</a>
		</li>
		<li >
			<a href="#aboutUs" class="scroll-link">Co je camp</a>
		</li>
		<li >
			<a href="#prihlaska" class="scroll-link">Přihláška</a>
		</li>
		<li >
			<a href="#dayAtCamp" class="scroll-link">Den na campu</a>
		</li>
		<li >
			<a href="#firstDay" class="scroll-link">První den</a>
		</li>
		<li >
			<a href="#afterCamp" class="scroll-link">Po campu</a>
		</li>
		<li >
			<a href="#rules" class="scroll-link">Pravidla</a>
		</li>
		<li >
			<a href="#contactUs" class="scroll-link">Kontakt</a>
		</li>
	</ul>
</nav>
<!--/.header-->
<div id="#top"></div>
<section id="home">
	<div class="banner-container">
		<div class="container">
			<div class="row">
				<div class="logo"> <img src="/upload/21_camp_logo.jpg" alt="Logo"> </div>
			</div>
			<div class="alert alert-warning text-center">
				<h1>English camp 2020 nebude :(</h1>
				<h2>Ale nezoufej!!</h2>
				<p>
					I když se nám to letos zkomplikovalo tím, že Američani nemůžou přiletět, tak se stejně můžeš těšit na super zážitkový týden. Více informací budeme zveřejňovat na Facebooku a Instagramu, tak nás sleduj!
				</p>
				<div class="social text-center"> <a href="https://www.facebook.com/mladezcbtabor/" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://www.instagram.com/mladez_tabor/" target="_blank"><i class="fa fa-instagram"></i></a> </div>
			</div>
			<div class="heading text-center">

				<h2>
					Multicamp Tábor 2021
				</h2>
				<strong>17.7. - 24.7.2021</strong><br><br> <a n:href="Registrace:" class="btn btn-default">Přihlásit se</a>

			</div>
			{*<div class="countdown styled"></div>*}
		</div>
	</div>
</section>
<section id="services" class="page-section colord">
	<div class="container">
		<div class="row">
			<div class="col-md-3 text-center"> <i class="fa fa-users fa-2x circle"></i>
				<h3>Nová přátelství</h3>
				<p>Poznej lidi ze svého města či jiného kontinentu.</p>
			</div><div class="col-md-3 text-center"> <i class="fa fa-futbol-o fa-2x circle"></i>
				<h3>Sporty a zábava</h3>
				<p>Bav se dle svého vkusu - sporty, hry, crafting.</p>
			</div><div class="col-md-3 text-center"> <i class="fa fa-flag-o fa-2x circle"></i>
				<h3>Rodilí mluvčí</h3>
				<p>Nauč se přirozeně používat angličtinu v každé situaci.</p>
			</div><div class="col-md-3 text-center"> <i class="fa fa-search fa-2x circle"></i>
				<h3>Spiritualita</h3>
				<p>Možnost podívat se na svět jinak než skrze komerci.</p>
			</div>			</div>
	</div>
	<!--/.container-->
</section>
{*}<section id="aboutUs">
	<div class="container">
		<div class="row feature design">
			<div class="six columns right">

				<h2>
					Jak vypadá den na campu?
				</h2>
				<p>Na dopoledne si můžeš vybrat mezi dvěma aktivitami, které budeš celý týden dělat. První z nich je angličtina, kterou vyučují američtí lektoři zábavnou formou v malých skupinách podle tvé úrovně angličtiny. A druhou je airsoft, který uděláme tak, jak budeš chtít. Při registraci si vybereš co by se ti nejvíc líbilo (IPSC, military, bitka, scénáře, atd...) a my to zkusíme přizpůsobit tvým představám. Pokud nemáš vlastní vybavení, můžeme ti půjčit zbraň, brýle a zajistíme střelivo.</p><p>Typický den campu začíná snídaní, následuje dopolední výuka angličtiny v malých skupinách nebo airsoft. Součástí každé skupiny je rodilý mluvčí z USA i překladatel. Následuje oběd a po něm je volný čas, kdy je možné hrát různé hry, nebo se věnovat dalším aktivitám v rámci workshopů. Odpoledne je pak vyhrazeno pro společné aktivity a sporty. Večery jsou určeny programům, které se věnují základním myšlenkám křesťanství. Po programu jsou pak diskuze, které probíhají v jednotlivých skupinkách. Jeden den na campu je také vyhrazen výletu. Všech aktivit se kromě studentů účastní i američtí lektoři. Více informací o campu můžeš najít na oficiálních stránkách www.englishcamps.cz.</p>

			</div>
			<div class="six columns feature-media left"> <img src="/upload/4_photo_day.jpg" alt="Kemp foto"> </div>
		</div>
	</div>
</section>*}


<section id="aboutUs" class="texts">
	<div class="container">
		<div class="row feature design">
			<div class="six columns right">

				<h2>
					O čem je English camp?
				</h2>
				<p>Celý týden prožijeme ve společnosti skupiny Američanů převážně ze státu Minnesota.
					Táborský English camp je specifický v tom, že se můžeš rozhodnout, jestli dopoledne věnuješ k výuce angličtiny v malých skupinkách dělených podle úrovně, nebo využiješ tento čas k hraní airsoftu. Obou aktivit se účastní i členové amerického týmu, a proto budeš stále v živém kontaktu s angličtinou.
				</p>
				<p>
					Odpoledne rozhýbeme kostry a společně s Američany si zasportujeme. Ale neboj, na odpoledne jsou připravené mimo sportů i další aktivity ve společnosti Američanů.
					Po večeři nás čeká večerní program, na který navazují diskuzní skupinky, během kterých můžeš vyjádřit svůj názor na hlubší duchovní i neduchovní témata.
				</p>

			</div>
			<div class="six columns feature-media left"> <img src="/upload/4_photo_day.jpg" alt="Kemp foto"> </div>
		</div>
	</div>
</section>

<section id="actual" class="page-section colord">
	<div class="container">
		<div class="row section-heading">
			<div class="col-md-12 text-center">

				<h2>
					Info o EC 2021
				</h2>

			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center"> <i class="fa fa-map-marker fa-2x circle"></i>
				<h3>Místo konání</h3>
				<p>RTS Jalovec</p>
			</div><div class="col-md-3 text-center"> <i class="fa fa-calendar fa-2x circle"></i>
				<h3>Datum</h3>
				<p>17.7. - 24.7.2021</p>
			</div><div class="col-md-3 text-center"> <i class="fa fa-users fa-2x circle"></i>
				<h3>Pro koho</h3>
				<p>Mládež 14 - 20 let</p>
			</div><div class="col-md-3 text-center"> <i class="fa fa-money fa-2x circle"></i>
				<h3>Cena</h3>
				<p>---{*3650 Kč (od 1.6. 3850 Kč)*}</p>
			</div>			</div>
	</div>
	<!--/.container-->
</section>

<section id="prihlaska">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">

				<h2>
					Přihláška
				</h2>
				<div class="alert alert-warning">
					<strong>POZOR!</strong> Na rozdíl od předchozích let, je potřeba kemp zaplatit do 14-ti dnů od odeslání registrace, jinak ji stornujeme a bude nutné ji provést znovu.
				</div>
				<p><br><br><a n:href="Registrace:" class="btn btn-default">Vyplnit přihlášku</a></p>

			</div>
		</div>
	</div>
</section>

<section id="dayAtCamp" class="texts">
	<div class="container">
		<div class="row feature design">
			<div class="six columns left">

				<h2>
					Jak vypadá den na campu?
				</h2>
				<p>Buuu-díííí-čeeeek! Možná americká alternativa - buuuuddy-check! Tímto slovem začneme náš den. Abychom měli dost síly, čeká na nás snídaně. Po snídani si buď můžeš dát ještě chvíli na rozkoukání, nebo zajít na ranní setkání. Poté se všichni sejdeme, obeznámíme se s denním programem, podíváme se na video a rozprchneme se na náš program - buď do anglické skupinky nebo na airsoft. V poledne se posílíme obědem a následuje možnost vybrat si z několika aktivit - vyrazit na mini-výlet do místní cukrárny nebo na borůvky (a když jich bude hodně, třeba nám i paní kuchařky upečou buchty ;) ), dát si ochutnávku různých amerických sportů (např. americký fotbal), zahrát si stolní hry anglicky (Apples to Apples, Uno, Double…), ti, kteří nejsou přihlášení na dopolední airsoft, dostanou jednu šanci si ho také zkusit, můžeme se vyjádřit i skrze umění jako malování či tancování (možné využít i k výuce camp-dance) a jiné.
					Všech těchto aktivit se účastní i Američané.
				</p>
				<p>
					Pak si chvilku zasportujeme skrze týmové hry a po sportech si dáme krátký oddych před večeří.
				</p>
				<p>
					Po večeři prolomíme ledy (icebreakers) a hurá na večerní program. Během večerního programu uslyšíme něco málo o křesťanství a také různé životní příběhy. Na večerní program navazuje diskuze v malých skupinkách, kde si budeme povídat nejen o večerním programu. Než se nadobro odebereme ke spaní, budeme mít ještě čas a prostor vyblbnout se při vícedenních mini-hrách (Save the president, Vampires vs. Werewolves…) nebo si jen tak popovídat.
				</p>
				<p>
					Aby každý den nebyl stejný, čeká nás přibližně v půlce týdne celodenní výlet.
					Zažijeme tři tématické večery. O tématických večerech ti dáme vědět dopředu, aby sis případně mohl/a opatřit vhodný oděv a pokusit se s ním vyhrát!
					Jeden večer si zahrajeme noční hru a ke konci týdne nás čeká procházka tajemným labyrintem, tentokráte pod širým nebem. Po labyrintu si dáme šálek či dva, tři… čaje v naší campové čajovně.
				</p>

			</div>
			<div class="six columns feature-media right"> <img src="/upload/den_na_campu.jpg" alt="Sporty"><br><br><img src="/upload/day_2.jpg" alt="Airsoft"> </div>
		</div>
	</div>
</section>

<section id="firstDay" class="texts">
	<div class="container">
		<div class="row feature design">
			<div class="six columns right">

				<h2>
					Co mám dělat první den?
				</h2>
				<p>
					Krátce po poledni se sejdeme u Kotnovské brány, vyberme si od tebe potvrzení o bezinfekčnosti a další papíry, které dostaneš po přihlášení se na camp (prosím, měj připravené navrchu v batohu nebo přímo v ruce) a vyrazíme směr Zadov!
				</p>
				<p>
					Až přijedeme na středisko, zaregistrujeme se. Během registrace obdržíme informaci o programu pro první den a zjistíme, kde máme pokoj. Po registraci se tedy pustíme do hledání pokoje (žádný strach, pokud jedeš na camp s kamarádem nebo kamarádkou a chcete být spolu na pokoji, stačí tuto informaci napsat do přihlášky a tvé přání vyplníme :) ).
					Až si odložíš věci na pokoj, čeká tě rozřazovací test. Ale není se čeho bát, jedná se o opravdu přátelské popovídání s Američanem/Američankou. Než se všichni rozřadí, můžeš tento čas využít k vybalení se, porozhlédnutí se po středisku, k popovídání, tento čas je jen tvůj.
				</p>
				<p>
					Před večeří se všichni sejdeme na společném setkání, kde se dozvíš více o campu, co nás čeká a pravidla campu.
				</p>
				<p>
					Po večeři se znovu sejdeme, naučíme se camp-dance, rozdělíme se do skupin a vyrazíme na naše první setkání s naší diskusní skupinkou. Zde se navzájem seznámíme a řekneme si pravidla diskusní skupinky, z níž je nejspíš nejdůležitější pravidlo to, že co se zde řekne, zde také zůstane. Po tomto úvodním setkání se rozpustíme a máme volný čas až do večerky. Během večerky se vrátíme na naše pokoje, dáme si sprchu, můžeme ještě popovídat a náš první den skončí o půlnoci při vyhlášení Lights out!
				</p>

			</div>
			<div class="six columns feature-media left"> <img src="/upload/first-day.jpg" alt="Příjezd"><br><br><img src="/upload/vecerni_program.jpg" alt="Večerní program"> </div>
		</div>
	</div>
</section>

<section id="afterCamp" class="texts">
	<div class="container">
		<div class="row feature design">
			<div class="six columns left">

				<h2>
					Co po campu?
				</h2>
				<p>
					Posledním dnem na campu to rozhodně nekončí! Američané budou v Táboře ještě další dva dny! Pořádáme proto follow-up během kterého se projdeme s Američany po Táboře, něco dobrého si ugrilujeme a vůbec, chceme využít zbývající čas jako náš společný čas. Je zde také možnost nabídnout Američanům ubytování přímo u tebe doma!
				</p>

			</div>
			<div class="six columns feature-media right"> <img src="/upload/follow-up.jpg" alt="Follow up"> </div>
		</div>
	</div>
</section>

<section id="rules" class="texts">
	<div class="container">
		<div class="row feature design">
			<div class="six columns right">

				<h2>
					Pravidla campu
				</h2>
				<p>
					Zde uvádíme pravidla, která jsou nutná dodržovat na našem campu. Za jejich porušení můžeš být i vyloučen/a.
				</p>
				<ol>
					<li>Žádný alkohol</li>
					<li>Žádné drogy</li>
					<li>Žádná fialová = není povoleno, aby spolu byli na pokoji ubytovaní dívky a chlapci. Toto pravidlo se vztahuje i na návštěvy a trávení volného času na pokoji.</li>
					<li>Žádné návštěvy rodičů, prarodičů apod. v průběhu konání campu.</li>
					<li>Povinností účastníka je také být na všech aktivitách (dopolední program, sporty, večerní programy, diskuze atp.)</li>
				</ol>

			</div>
			<div class="six columns feature-media left"> <img src="/upload/rules.jpg" alt="Pravidla kempu"> </div>
		</div>
	</div>
</section>

<section id="contactUs" class="contact-parlex">
	<div class="parlex-back">
		<div class="container">
			<div class="row">
				<div class="heading text-center">

					<h2>
						Zeptej se
					</h2>
					<p>Pokud máš jakékoliv dotazy ohledně kempu, tak napiš nebo zavolej.</p>
					<p>David Macek | +420 605 402 780 | e-mail: <a href="mailto:david&#64;ectabor&#46;cz">david&#64;ectabor&#46;cz</a></p>
					<hr>
					<p>Pořadatel: Sbor Církve bratrské v Táboře, Bechyňská 1636/2, 39001 Tábor</p>
					<p>Ve spolupráci s: Křesťanskou akademií mladých | <a href="http://www.englishcampy.cz">www.englishcampy.cz</a> | <a href="www.kam.cz">www.kam.cz</a></p>

				</div>
			</div>
			<div class="row mrgn30">
				<!--<div id="contactfrm">
				<form method="POST" id="contact-form" class="form-horizontal" action="contactengine.php" onSubmit="alert('Thank you for your feedback!');">
									  <div class="col-sm-12">
									  <div class="form-group">
									  <input type="text" name="Name" id="Name" class="form-control wow fadeInUp" placeholder="Name" required/>
									  </div>
									  <div class="form-group">
									  <input type="text" name="Email" id="Email" class="form-control wow fadeInUp" placeholder="Email" required/>
									  </div>
									  <div class="form-group">
									  <textarea name="Message" rows="10" cols="20" id="Message" class="form-control input-message wow fadeInUp"  placeholder="Message" required></textarea>
									  </div>
									  <div class="form-group">
									  <input type="submit" name="submit" value="Submit" class="btn btn-success wow fadeInUp" />
									  </div>
									  </div>
								  </form>
							  </div>-->

			</div>
		</div>
		<!--/.container-->
	</div>
</section>


<footer>
	<div class="container">
		<div class="social text-center"> <a href="https://www.facebook.com/ecTabor/"><i class="fa fa-facebook"></i></a> </div>
		<div class="clear"></div>
		<!--CLEAR FLOATS-->
	</div>
</footer>
<!--/.page-section-->
<section class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center"> Copyright {date('Y')} | All Rights Reserved -- Template by <a href="http://webThemez.com">WebThemez.com</a> </div>
		</div>
		<!-- / .row -->
	</div>
</section>
<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>