{block title}Modlitby{/block}
{block content}
	<a id="btn-back-to-site" class="hidden-sm hidden-xs" n:href="Homepage:">Zpět na campový web</a>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<h1>Modlitby za English Camp 2019</h1>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>
					V následující tabulce se můžete zapisovat na modiltby a půsty za kemp. Najdete tam i náměty na modlitby. Modlit a postit se můžete samozřejmě i bez zapisování do seznamu, ale je vždy skvělé vidět, kdo se zrovna přimlouvá. :)
				</p>
				<p>
					Pokud by vám vyhovala tabulka přímo na google dokumentech, <a href="{$sheetUrl}">použijte tento odkaz.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<iframe src="{$sheetUrl}" style="width:100%;height:600px;"></iframe>
			</div>
		</div>
	</div>