{control regForm}

<!-- Modal -->
<div class="modal fade" id="szouModal" tabindex="-1" role="dialog" aria-labelledby="szouLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="szouLabel">Zpracování osobních údajů</h4>
			</div>
			<div class="modal-body">
				<p>
					Zaškrtnutím „Souhlasím se zpracováním osobních údajů“ v registračním formuláři dáváte Církvi Bratrské v Táboře dobrovolný souhlas se zpracováním vašich osobních údajů uvedených při registraci.
					Vaše údaje budou použity pouze za účelem vaší registrace, a k zasílání zpráv ohledně příprav Houby.
				</p>
			</div>
		</div>
	</div>
</div>