{block title}Registrace{/block}
{block content}
	<a id="btn-back-to-site" class="hidden-sm hidden-xs" n:href="Homepage:">Zpět na campový web</a>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<h1>Registrace na English Camp 2021</h1>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-warning">
					<strong>POZOR!</strong> Na rozdíl od předchozích let, je potřeba kemp zaplatit do 14-ti dnů od odeslání registrace, jinak ji stornujeme a bude nutné ji provést znovu.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{*control regForm*}
				<p class="h2 text-center">Ajaj, registrace ještě není spuštěná ;)</p>
				<br>
				<br>

			</div>

		</div>
	</div>