{block content}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<br>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 n:block="title" class="panel-title">Nepodařilo se nám uložit tvojí registraci</h3>
					</div>
					<div class="panel-body">
						Tvoje registrace nám dorazila, ale nepodařilo se nám ji uložit a odeslat ti potvrzující mail. Prosím kontaktuj mě na mailu <a href="mailto:david@ectabor.cz">david@ectabor.cz</a> a já ti pomůžu registraci dokončit.<br>
						<br><br><a n:href="Homepage:" class="btn btn-default">Zpět na info o kempu</a>
					</div>
				</div>
			</div>
		</div>
	</div>