{block title}Registrace{/block}
{block content}
	{*}<a id="btn-back-to-site" class="hidden-sm hidden-xs" n:href="Homepage:">Zpět na campový web</a>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<h1>Registrace na English Camp 2018</h1>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{control regForm}
			</div>
		</div>
	</div>*}