{block content}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<br>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 n:block="title" class="panel-title">Registrace úspěšně uložena</h3>
					</div>
					<div class="panel-body">
						Tvoje registrace nám úspěšně dorazila. Potvrzení jsme ti poslali i do mailu společně s údaji pro provedení platby za kemp.<br>
						<strong>Registrace bude platná až po zaplacení kempu!</strong> Pokud máš otázky k registraci nebo platbě, můžeš kontaktovat Elišku Čmelíkovou na mailu <a href="mailto:eliskacmel@gmail.com">eliskacmel@gmail.com</a>.
						<br><br><a n:href="Homepage:" class="btn btn-default">Zpět na info o kempu</a>
					</div>
				</div>
			</div>
		</div>
	</div>