<!doctype html>
<html lang="cs-cz">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Multi English Camp Tábor - Letní anglický a airsoftový kemp</title>
	<meta name="description" content="Celotýdenní letní kemp s američany, kde si procvičíš angličtinu nebo zahraješ airsoft">

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/css/bootstrap-datetimepicker.min.css" type="text/css">

	<link href="{$basePath}/font/css/font-awesome.min.css" rel="stylesheet">
	<link href="{$basePath}/css/datagrid/datagrid.min.css" rel="stylesheet">
	<link href="{$basePath}/css/datagrid/datagrid-spinners.min.css" rel="stylesheet">
	<link href="{$basePath}/css/admin.css" rel="stylesheet">

</head>

<body class="{block bodyClass}{/block}">

	<div n:if="$user->isLoggedIn()" class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">EC Admin</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="{plink Dashboard:}"><i class="fa fa-list"></i>&nbsp; Přehled</a></li>
							<li><a href="{plink Houba:}"><i class="fa fa-list"></i>&nbsp; Houba</a></li>
							{*}<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>*}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{plink :Sign:out}">Odhlásit se</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div>


	<div class="container" n:if="count($flashes)>0">
		<div class="row">
			<div class="col-md-12">
				<div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type">{$flash->message}</div>
			</div>
		</div>
	</div>

	{include content}

	{block scripts}

		<script src="{$basePath}/js/jquery.min.js"></script>
		<script src="{$basePath}/js/bootstrap-datetimepicker.min.js"></script>
		<script src="{$basePath}/js/locales/bootstrap-datetimepicker.cs.js"></script>
		<script src="{$basePath}/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/live-form-validation.js"></script>
		<script src="{$basePath}/js/nette.ajax.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
		<script src="{$basePath}/js/nextras.netteForms.js"></script>
		<script src="{$basePath}/js/nextras.datetimepicker.init.js"></script>
		<script src="{$basePath}/js/nextras.typeahead.init.js"></script>
		<script src="{$basePath}/js/datagrid/datagrid.min.js"></script>
		<script src="{$basePath}/js/datagrid/datagrid-instant-url-refresh.min.js"></script>
		<script src="{$basePath}/js/datagrid/datagrid-spinners.min.js"></script>
		<script src="{$basePath}/js/admin.js"></script>
	{/block}
</body>
</html>
