{block content}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<h1 n:block="title">Úprava registrace</h1>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{control regForm}
				<br>
				<br>
			</div>

		</div>
	</div>