{block content}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 n:block="title" class="h2">Mail se nepovedlo odeslat</h1>
			<p><a n:href="Dashboard:default">Zpět na výpis registrací</a></p>
		</div>
	</div>
</div>
