{block title}Registrace na Houbu 2019{/block}
{block content}
	{*<a id="btn-back-to-site" class="hidden-sm hidden-xs" n:href="Homepage:">Zpět na campový web</a>*}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<p class="text-center">
					<img src="{$basePath}/images/program-houba-2019.png" class="img-responsive center-block" alt="banner houba 2019">
				</p>
				<p class="h1 text-center">Užij si to! :)</p>
				<br>
			</div>
		</div>
		{*}<div class="row">
			<div class="col-md-12">
			{control houbaRegForm}
				<br>
				<br>
			</div>

		</div>*}
	</div>