{block content}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<br>
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 n:block="title" class="panel-title">Nepodařilo se odeslat mail</h3>
					</div>
					<div class="panel-body">
						Tvoje registrace nám dorazila, ale nepodařilo se nám odeslat ti mail s dalšími informacemi. Prosím kontaktuj mě na mailu <a href="mailto:david@ectabor.cz">david@ectabor.cz</a> a já ti mail pošlu znovu.
					</div>
				</div>
			</div>
		</div>
	</div>