{block content}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<br>
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 n:block="title" class="panel-title">Registrace úspěšně uložena</h3>
					</div>
					<div class="panel-body">
						Tvoje registrace nám úspěšně dorazila. Potvrzení jsme ti poslali i do mailu společně s dalšími informacemi.<br>
						Pokud máš otázky k registraci nebo platbě, můžeš mě kontaktovat na mailu <a href="mailto:david@ectabor.cz">david@ectabor.cz</a>.
					</div>
				</div>
			</div>
		</div>
	</div>