{block title}Přihlášení{/block}
{block bodyClass}login{/block}
{block content}

<div class="container">

	<form n:name=signInForm class="form-signin">
		<h2 class="form-signin-heading">Přihlaste se</h2>
		<div n:if="count($form->getErrors())>0" class="form-errors">
			<div n:foreach="$form->getErrors() as $error" class="alert alert-warning">
				{$error}
			</div>
		</div>
		<label n:name=username class="sr-only">Uživatelské jméno</label>
		<input n:name=username class="form-control" autofocus>
		<label n:name=password class="sr-only">Heslo</label>
		<input n:name=password class="form-control">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit</button>
	</form>

</div> <!-- /container -->
